.filter {
  min-width: 180px;
  padding: 16px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border: none;
  border-radius: 10px;

  font-size: 16px;
  cursor: pointer;
}