.header {
  width: 100%;
  z-index: 10;
}

.homeHeader {
  position: absolute;
  top: 0;
  left: 0;

  padding: 48px 70px;

  background: transparent;
}

.pageHeader {
  position: relative;

  padding: 16px 40px;

  background-color: #1b1b1b;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.homeHeader .logo {
  color: white;
}

.pageHeader .logo {
  color: #ffd15b;
}