.hero {
  position: relative;

  min-height: 667px;
  padding: 120px 70px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("/images/recipes/Recette48.jpg");

  background-size: cover;
  background-position: center;
}

.title {
  max-width: 9000px;

  margin: 0;

  text-align: center;

  color: #ffd15b;

  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .hero {
    min-height: 500px;
    padding: 100px 20px 50px;
  }

  .title {
    font-size: 30px;
  }
}